:root {
	--mactivecolor: green;
	--mselectcolor: orange;
	--mtextcolor: white;
	--msubmenucolor: transparent;
}

#menu						{width:100%; margin:0px; padding:0px;}
#menu *						{margin: 0px;}
#menu a						{display:block; text-decoration:none; color:var(--mtextcolor); height:30px; line-height: 30px;}
#menu >li >ul a				{color:transparent; background-color:none;}

#menu >li					{background-color: var(--maincolor); background: var(--maincolorgradhex); position:relative; width:16.66%; display:inline-block;}
#menu >li ul				{display:hidden; position:absolute; padding:0px; left:0; right:0; top:0;}
#menu >li ul li				{display:hidden; height:0px; background-color: var(--maincolor); background: var(--maincolorgradhex);}

.active						{}
.plinks						{}
#menu >li >a.active			{background-color:var(--mactivecolor);}
#menu >li:hover .active 	{background-color:var(--mactivecolor);}

#menu .plinks				{display: none !important;}

#menu >li:hover				{background-color:orange;}
#menu >li a:hover			{background-color:var(--mselectcolor) !important;}

#menu >li:hover	>ul			{display:block; top:initial;}
#menu >li:hover >ul >li		{display:block;
						 	height:32px;
						 	transition:0.3s;}

#menu >li:hover >ul >li >a	{color:var(--mtextcolor);}

#sidemenu					{width:100%; margin:0px; padding:0px; text-align: right;}
#sidemenu *					{margin: 0px;}
#sidemenu ul				{list-style:circle;}
#sidemenu li				{background-color: var(--msubmenucolor);}
#sidemenu >li a:hover		{background-color:var(--mselectcolor) !important;}

#sidemenu a					{display:block; text-decoration:none; color:var(--mtextcolor); height: 30px; line-height: 30px;}
#sidemenu .active			{background-color:var(--mactivecolor);}